p{
    color: black;
    
}
nav{
    width: 100%;
    background-color: #424558;
}
nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF
}
body{
    front-family:'source code pro', Calibri, serif;
    background:linear-gradient(to left, blue, red)
    margin: 0px;
    padding: opx;
}
.prem{
     padding-top: 30px
     padding-bottom: 20px;
}
.ul1{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-right: 1050px;
    
    

}
.para1{
    border-bottom-style: solid;
    border-width: 2px;
    border-style: black;
    padding-top: 30px;
}
.para2{
    border-bottom-style: solid;
    border-width: 2px;
    border-style: black;
    padding-top: 30px;
}
.para3{
    border-bottom-style: solid;
    border-width: 2px;
    border-style: black;
    padding-top: 30px;
}
.para4{
    border-bottom-style: solid;
    border-width: 2px;
    border-style: black;
    padding-top: 30px;
}
h1{
    text-align: center;
    text-decoration: underline;
}